.card_img img{
    height: 250px;
    width: 250px;
}
.card_main{
    height: 400px;
    width: 250px;
    border: 5px solid black;
    margin: 25px;
  
}
.card_body span{
    color: gray;
    font-weight: 500;
}
.card_body button{
    cursor: pointer;
}